#atlo *,
#atlo *:before,
#atlo *:after {
  box-sizing: border-box;
}

#atlo ol, #atlo ul {
	list-style: none;
}
#atlo blockquote, #atlo q {
	quotes: none;
}
#atlo blockquote:before, #atlo blockquote:after,
#atlo q:before, #atlo q:after {
	content: '';
	content: none;
}
#atlo table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Georgia';
  src: url('fonts/GEORGIA.TTF');
}

#atlo {
  font-family: 'Georgia';
  line-height: 1.5;
}

#atlo p {
  margin: 15px 0;
}

#atlo ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

#atlo h1 {
  font-size: 52px;
}

#atlo h2 {
  font-size: 24px;
}

#atlo button {
  background: none;
  border: 0;
  cursor: pointer;
}

#atlo.container {
  position: relative;
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  overflow: hidden;
}

#atlo .map {
  position: relative;
}

#atlo .call-to-action {
  position: absolute;
}

#atlo .call-to-action svg {
  width: 17px;
}

#atlo .viz-container {
  position: relative;
}

#atlo .viz-info,
#atlo .country-info {
  position: absolute;
  z-index: 3;
  display: none;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #b9b9b9;
  font-size: 14px;
  line-height: 1;
  padding: 0 5px;
}

#atlo .viz-info {
  width: auto;
  padding: 0 10px;
  text-align: center;
}

#atlo .viz-info.active,
#atlo .country-info.active {
  display: flex;
}

#atlo .map-2 .country-info {
  text-align: center;
}

#atlo .country-joined-at {
  color: #fe3030;
  font-weight: bold;
}

#atlo .country {
  position: relative;
  transition: fill .3s;
}

#atlo .map-1 .country {
  cursor: pointer;
}

#atlo .map-1 .st1 {
  stroke: none;
}

#atlo .st0.country,
#atlo .country.selectable {
  fill: #1d1d1b;
  stroke: white;
}

#atlo .country.hover,
#atlo .country.selected {
  fill: #fe3030;
}

#atlo .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#atlo .categories li {
  margin-bottom: 20px;
  width: 49%;
  max-width: 275px;
}

#atlo .categories svg {
  display: block;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
}

#atlo .categories button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 125px;
  background: #E3E3E3;
  border: 0;
  padding: 15px;
  text-align-last: left;
  transition: all .3s;
}

#atlo .categories button:hover {
  background: #FFE9D2;
}

#atlo .categories svg .st0{fill-rule:evenodd;clip-rule:evenodd;fill:white;transition: all .3s;}
#atlo .categories svg .st1{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
#atlo .categories svg .st2{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
#atlo .categories svg .st3{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

#atlo .categories button:hover .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FF931E;}

#atlo .categories p {
  color: #1c1c1c;
  font-family: 'Georgia';
  font-size: 20px;
  text-align: left;
}

.years {
  position: relative;
  margin: 25px 0;
}

#atlo .years .form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#atlo .years input {
  display: none;
}

#atlo .years svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 2.5%;
  width: 95%;
  height: 1px;
}

#atlo .years label {
  position: relative;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

#atlo .years label span {
  display: block;
  width: 17px;
  height: 17px;
  margin: 0 auto 10px;
  background-color: white;
  border: 1px solid #373737;
  border-radius: 50%;
  transition: all .3s;
}

#atlo .years input:checked + label span {
  border-color: #fe3030;
  background-color: #fe3030;
}

#atlo .countries {
  margin: 25px -5px 25px 0;
}

#atlo .countries .form-group {
  display: flex;
  flex-wrap: wrap;
}

#atlo .select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

#atlo .select .st0{fill:white;}
#atlo .select svg {
  position: absolute;
  right: 0;
  width: 25px;
}

#atlo .select-options {
  position: absolute;
  z-index: 1;
  display: none; 
  width: 100%;
  padding: 10px;
  padding-top: 0;
  background: white;
}

#atlo .select button {
  display: flex;
  align-items: center;
  min-width: 150px;
  width: auto;
  font-size: 18px;
  font-weight: bold;
  padding-right: 30px;
}

#atlo .select-options li {
  color: #CCCCCC;
  cursor: pointer;
  font-size: 18px;
}

#atlo .select-options.active {
  display: block;
}

#atlo .countries input {
  display: none;
}

#atlo .countries label {
  display: block;
  width: 140px;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 2px solid #8e8e8e;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  color: #4d4d4d;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  transition: all .3s;
}

#atlo .countries label:hover {
  background: #CCCCCC;
}

#atlo .countries input:checked + label {
  color: white;
}

#atlo .countries input.first + label {
  background: #CD19F9;
  border-color: #CD19F9;
}

#atlo .countries input.second + label {
  background: #FE8E31;
  border-color: #FE8E31;
}

#atlo .countries input.third + label {
  background: #1284CC;
  border-color: #1284CC;
}

#atlo .levels {
  position: absolute;
}

#atlo .levels li {
  display: flex;
  margin-bottom: 10px;
  color: #898989;
  line-height: 30px;
}

#atlo .levels span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  transition: background-color .3s;
}

#atlo .levels-line .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#CCCCCC;}
#atlo .levels-line .st1{fill:none;stroke:#FFFFFF;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8637;}

#atlo .select {
  font-size: 24px;
}


#atlo .map-2 .st0.country {
  transition: fill .3s;
}

#atlo .map-2 .st1.country {
  fill: transparent;
}

#atlo .level-1 span {
  background-color: #ffd5d6;
}

#atlo .map-2 .country {
  fill: #8e8e8e;
}

#atlo .map-2 .country.level-1 {
  fill: #ffd5d6
}

#atlo .level-2 span {
  background-color: #ffaead;
}

#atlo .map-2 .country.level-2 {
  fill: #ffaead
}

#atlo .level-3 span {
  background-color: #ff8383;
}

#atlo .map-2 .country.level-3 {
  fill: #ff8383
}

#atlo .level-4 span {
  background-color: #fe5a59;
}

#atlo .map-2 .country.level-4 {
  fill: #fe5a59
}

#atlo .level-5 span {
  background-color: #fe3131;
}

#atlo .map-2 .country.level-5 {
  fill: #fe3131
}

#atlo .graph .labels.x-labels {
  text-anchor: middle;
}

#atlo .graph .labels.y-labels {
  text-anchor: end;
}

#atlo .graph .viz {
  height: 380px;
  width: 100%;
}

#atlo .graph .grid {
  stroke: #1c1c1c;
  stroke-dasharray: 0;
  stroke-width: 1;
  transition: all 1s;
}

#atlo .graph .grid.dotted {
  stroke-dasharray: 5, 5;
  stroke-width: .5px
}

#atlo .labels {
  font-size: 13px;
}

#atlo .label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

#atlo .graph .grid.country {
  stroke: #e6e6e6;
  stroke-dasharray: 0;
  stroke-width: 2;
}

#atlo .grid.country.selected {
  stroke-width: 4;
}

#atlo .grid.clone.selected {
  stroke-width: 6;
  stroke: #fe3030;
}

#atlo .graph .grid.country.first {
  stroke: #CD19F9;
}

#atlo .graph .grid.country.second {
  stroke: #FE8E31;
}

#atlo .graph .grid.country.third {
  stroke: #1284CC;
}


#atlo .inline {
  display: flex;
  width: 200%;
}

#atlo .page-1,
#atlo .page-2 {
  width: 100%;
  transition: transform .5s;
}

#atlo .mobile .page-1,
#atlo .mobile .page-2 {
  max-width: 320px;
}

#atlo .page-1,
#atlo .page-2.active {
  transform: translateX(-100%)
}

#atlo .page-1.active,
#atlo .page-2 {
  transform: translateX(0px)
}

#atlo .page-2 .back-button {
  width: 90px;
  height: 48px;
  margin: 25px 0;
  border: 0;
  background: none;
  padding: 0;
}

/* .page-2 .back-button .st0{fill:#FFFFFF;stroke:#1D1D1B;stroke-width:0.5;stroke-miterlimit:10;}
#atlo .page-2 .back-button .st1{fill:none;stroke:#4D4D4D;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
#atlo .page-2 .back-button .st2{fill:#4D4D4D;} */

#atlo .page-2 .back-button .st0{fill:#FFFFFF;}
#atlo .page-2 .back-button .st1{font-family:'SegoeUI-Bold';}
#atlo .page-2 .back-button .st2{font-size:16px;}

#atlo .page-2 .map-2 .back-button {
  position: absolute;
  top: calc(50% - 45px);
  left: 0;
  width: 35px;
  height: 90px;
}

#atlo .page-2 .map-2 .back-button svg {
  width: 100%;
  height: 100%;
}

#atlo .page-2 .map-2 .back-button .st0{fill:#E6E6E6;stroke: none;transition: all .3s;}
#atlo .page-2 .map-2 .back-button .st1{fill:#FFFFFF;stroke: none;}
#atlo .page-2 .map-2 .back-button:hover .st0{fill:black;}

@media (max-width: 575px) {
  #atlo .levels li {
    line-height: 15px;
  }

  #atlo .levels span {
    width: 15px;
    height: 15px;
  }

  #atlo .page-2 .map-2 .back-button {
    top: calc(65%);
    width: 25px;
    height: 55px;
  }

  #atlo .categories li {
    width: 100%;
    max-width: 100%;
  }

  #atlo .countries .form-group {
    justify-content: space-between;
  }

  #atlo .countries label {
    width: 45%;
  }
}