*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Georgia';
  src: url('fonts/GEORGIA.TTF');
}

body {
  font-family: 'Georgia';
  line-height: 1.5;
}

p {
  margin: 15px 0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 24px;
}

h3 {
  
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  overflow: hidden;
}

.map {
  position: relative;
}

.call-to-action {
  position: absolute;
}

.call-to-action svg {
  width: 17px;
}

.country-info {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 55px;
  background: white;
  border: 1px solid #b9b9b9;
  font-size: 14px;
  line-height: 1;
}

.country-info.active {
  display: flex;
}

.country-joined-at {
  color: #fe3030;
  font-weight: bold;
}

.country {
  position: relative;
  transition: fill .3s;
}

.map-1 .st1 {
  stroke: none;
}

.st0.country,
.country.selectable {
  fill: #1d1d1b;
  stroke: white;
}

.country.hover,
.country.selected {
  fill: #fe3030;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories li {
  margin-bottom: 20px;
}

.categories svg {
  display: block;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
}

.categories button {
  display: flex;
  align-items: center;
  width: 275px;
  height: 125px;
  background: none;
  border: 0;
  padding: 15px;
  text-align-last: left;
  transition: all .3s;
}

.categories button:hover {
  background: #FFE9D2;
}

.categories svg .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#E6E6E6;stroke-width: 0;transition: all .3s;}
.categories svg .st1{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;transition: all .3s;}
.categories svg .st2{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;transition: all .3s;}
.categories svg .st3{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;transition: all .3s;}
.categories svg .st4{fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;transition: all .3s;}
.categories svg .st1{font-family:'Georgia';}
.categories svg .st2{font-size:20px;}

.categories button:hover .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FF931E;}

.categories p {
  color: #1c1c1c;
  font-family: 'Georgia';
  font-size: 20px;
  text-align: left;
}

.years {
  position: relative;
  margin: 25px 0;
}

.years .form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.years input {
  display: none;
}

.years svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 2.5%;
  width: 95%;
  height: 1px;
}

.years label {
  position: relative;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

.years label span {
  display: block;
  width: 17px;
  height: 17px;
  margin: 0 auto 10px;
  background-color: white;
  border: 1px solid #373737;
  border-radius: 50%;
  transition: all .3s;
}

.years input:checked + label span {
  border-color: #fe3030;
  background-color: #fe3030;
}

.countries {
  margin: 25px -5px 25px 0;
}

.countries .form-group {
  display: flex;
  flex-wrap: wrap;
}

.select {
  position: relative;
  margin-bottom: 15px;
}

.select .st0{fill:none;stroke:#999999;stroke-miterlimit:10;}
.select svg {
  width: 25px;
  margin-left: 5px;
}

.select-options {
  position: absolute;
  z-index: 1;
  display: none; 
  padding: 10px;
  padding-top: 0;
  background: white;
}

.select button {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.select-options li {
  color: #CCCCCC;
  font-size: 18px;
}

.select-options.active {
  display: block;
}

.countries input {
  display: none;
}

.countries label {
  display: block;
  width: 110px;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 2px solid #8e8e8e;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  color: #4d4d4d;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  transition: all .3s;
}

.countries label:hover {
  background: #CCCCCC;
}

.countries input:checked + label {
  color: white;
}

.countries input.first + label {
  background: #fe3030;
  border-color: #fe3030;
}

.countries input.second + label {
  background: #FE8E31;
  border-color: #FE8E31;
}

.countries input.third + label {
  background: #1284CC;
  border-color: #1284CC;
}

.levels {
  position: absolute;
}

.levels li {
  display: flex;
  margin-bottom: 10px;
  color: #898989;
  line-height: 30px;
}

.levels span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  transition: background-color .3s;
}

.levels-line .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#CCCCCC;}
.levels-line .st1{fill:none;stroke:#FFFFFF;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8637;}

.select {
  font-size: 24px;
}


.map-2 .st0.country {
  fill: #fe3131;
  transition: fill .3s;
}

.map-2 .st1.country {
  fill: transparent;
}

.level-1 span {
  background-color: #ffd5d6;
}

.map-2 .country.level-1 {
  fill: #ffd5d6
}

.level-2 span {
  background-color: #ffaead;
}

.map-2 .country.level-2 {
  fill: #ffaead
}

.level-3 span {
  background-color: #ff8383;
}

.map-2 .country.level-3 {
  fill: #ff8383
}

.level-4 span {
  background-color: #fe5a59;
}

.map-2 .country.level-4 {
  fill: #fe5a59
}

.level-5 span {
  background-color: #fe3131;
}

.map-2 .country.level-5 {
  fill: #fe3131
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph .viz {
  height: 380px;
  width: 570px;
}

.graph .grid {
  stroke: #1c1c1c;
  stroke-dasharray: 0;
  stroke-width: 1;
  transition: all 1s;
}

.graph .grid.dotted {
  stroke-dasharray: 5, 5;
  stroke-width: .5px
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.graph .grid.country {
  stroke: #e6e6e6;
  stroke-dasharray: 0;
  stroke-width: 2;
}

.grid.country.selected {
  stroke-width: 4;
}

.graph .grid.country.first {
  stroke: #fe3030;
}

.graph .grid.country.second {
  stroke: #FE8E31;
}

.graph .grid.country.third {
  stroke: #1284CC;
}


.inline {
  display: flex;
  width: 1152px;
}

.page-1,
.page-2 {
  width: 576px;
  transition: transform .5s;
}

.page-1,
.page-2.active {
  transform: translateX(-576px)
}

.page-1.active,
.page-2 {
  transform: translateX(0px)
}

.page-2 .back-button {
  width: 100px;
  margin: 25px 0;
  border: 0;
  background: none;
  padding: 0;
}

.page-2 .back-button .st0{fill:#FFFFFF;stroke:#1D1D1B;stroke-width:0.5;stroke-miterlimit:10;}
.page-2 .back-button .st1{fill:none;stroke:#4D4D4D;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.page-2 .back-button .st2{fill:#4D4D4D;}

.page-2 .map-2 .back-button {
  position: absolute;
  top: calc(50% - 45px);
  left: 0;
  width: 35px;
  height: 90px;
}

.page-2 .map-2 .back-button svg {
  width: 100%;
  height: 100%;
}

.page-2 .map-2 .back-button .st0{fill:#E6E6E6;stroke: none;}
.page-2 .map-2 .back-button .st1{fill:#FFFFFF;stroke: none;}